#beebalmimg{
    width:200px;
    Position: absolute;
    border-radius:6px;
    border:0px;
    padding:0px;
    margin:0px;
    border: 10px solid black;
}

#beebalmimg:hover{
    opacity:0.25;}

#beebalm{
    position:absolute;
    top:140px;
    left:100px;
    font-size:18px;
    font-weight:bold;
    font-family:"helvetica";
}

#indianimg{
    width:229px;
    Position: absolute;
    border-radius:6px;
    border:0px;
    padding:0px;
    margin:0px;
    border:10px solid black;
}

#indianimg:hover{
    opacity:0.25;}

#indiangrass{
    position:absolute;
    top:140px;
    left:400px;
    font-size:18px;
    font-weight:bold;
    font-family:"helvetica";
}

#milkweedimg{
    width:180px;
    Position: absolute;
    border-radius:6px;
    border:0px;
    padding:0px;
    margin:0px;
    border:12px solid black;
}

#milkweedimg:hover{
    opacity:0.25;}

#milkweed{
    position:absolute;
    top:140px;
    left:700px;
    font-size:16px;
    font-weight:bold;
    font-family:"helvetica";
}

#blackeyedimg{
    width:170px;
    Position: absolute;
    border-radius:6px;
    border:0px;
    padding:0px;
    margin:0px;
    border:12px solid black;
}

#blackeyedimg:hover{
    opacity:0.25;}

#blackeyed{
    position:absolute;
    top:140px;
    left:950px;
    font-size:20px;
    font-weight:bold;
    font-family:"helvetica";
}

#coneflowerimg{
    width:200px;
    Position: absolute;
    border-radius:6px;
    border:0px;
    padding:0px;
    margin:0px;
    border:10px solid black;
}

#coneflowerimg:hover{
    opacity:0.25;}

#coneflower{
    position:absolute;
    top:350px;
    left:100px;
    font-size:20px;
    font-weight:bold;
    font-family:"helvetica";   
}

#columbineimg{
    width:190px;
    Position: absolute;
    border-radius:6px;
    border:0px;
    padding:0px;
    margin:0px;
    border:10px solid black;
}

#columbineimg:hover{
    opacity:0.25;}

#columbine{
    position:absolute;
    top:350px;
    left:420px;
    font-size:20px;
    font-weight:bold;
    font-family:"helvetica";   
}

#thimbleweedimg{
    width:150px;
    Position: absolute;
    border-radius:6px;
    border:0px;
    padding:0px;
    margin:0px;
    border:10px solid black;
}

#thimbleweedimg:hover{
    opacity:0.25;}

#thimbleweed{
    position:absolute;
    top:350px;
    left:710px;
    font-size:20px;
    font-weight:bold;
    font-family:"helvetica";   
}

#noddingimg{
    width:165px;
    Position: absolute;
    border-radius:6px;
    border:0px;
    padding:0px;
    margin:0px;
    border:10px solid black;
}

#noddingimg:hover{
    opacity:0.25;}

#nodding{
    position:absolute;
    top:350px;
    left:950px;
    font-size:20px;
    font-weight:bold;
    font-family:"helvetica";   
}

#coreopsisimg{
    width:185px;
    Position: absolute;
    border-radius:6px;
    border:0px;
    padding:0px;
    margin:0px;
    border:10px solid black;
}

#coreopsisimg:hover{
    opacity:0.25;}

#coreopsis{
    position:absolute;
    top:140px;
    left:1185px;
    font-size:20px;
    font-weight:bold;
    font-family:"helvetica";   
}

#lupineimg{
    width:185px;
    Position: absolute;
    border-radius:6px;
    border:0px;
    padding:0px;
    margin:0px;
    border:10px solid black;
}

#lupineimg:hover{
    opacity:0.25;}

#lupine{
    position:absolute;
    top:350px;
    left:1190px;
    font-size:20px;
    font-weight:bold;
    font-family:"helvetica";   
}

#heleniumimg{
    width:200px;
    Position: absolute;
    border-radius:6px;
    border:0px;
    padding:0px;
    margin:0px;
    border:10px solid black;
}

#heleniumimg:hover{
    opacity:0.25;}

#helenium{
    position:absolute;
    top:570px;
    left:100px;
    font-size:20px;
    font-weight:bold;
    font-family:"helvetica";   
}

#bonesetimg{
    width:220px;
    Position: absolute;
    border-radius:6px;
    border:0px;
    padding:0px;
    margin:0px;
    border:10px solid black;
}

#bonesetimg:hover{
    opacity:0.25;}

#boneset{
    position:absolute;
    top:570px;
    left:405px;
    font-size:20px;
    font-weight:bold;
    font-family:"helvetica";   
}
body{
    background-image: url("https://ak8.picdn.net/shutterstock/videos/63979/thumb/1.jpg?i10c=img.resize(height:160)");
    }
    
#wetmeadow{
    position:absolute;
    bottom: 10px;
    left:40%;
    width:400px;
}
