#blank{
    height:500px;
    width:10px;
}

#title{
    font-size:60px;
    text-align:center;
    font-family:"courier new";
    }

#blank2{
    height:600px;
    width:100px;
}

#box{
    width:700px;
    height:900px;
    background:#397fa8;
    margin:auto;
    border: 10px solid gray;
    text-align:center;
    font-size:40px;
}

body{background-image: url("https://mail.google.com/mail/u/0/?ui=2&ik=21b75b9a14&view=att&th=15d5d797e8daa16f&attid=0.6&disp=safe&realattid=f_j5bpzp7u5&zw");
background-attachment:fixed;
}
